/* Quotes */
span.script-quote:hover.active-quote {
  border-bottom: 1px solid;
}

span.script-quote:focus.active-quote {
  outline: 1px dotted;
}

/* Start button/setup */
.hidden {
  display: none;
}

.highlight-form button:hover {
  outline: 1px solid;
}

/* floating color bar */
#color-bar {
  padding: 0;
  padding-top: 10px;
  z-index: 1;
}

#color-bar > div {
  border: 1px double;
  padding: 0 10px;
  margin: 5px 0;
}

#color-bar.sticky div {
  width: 90%;
}

#color-bar.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #workskin {
  padding-top: 150px;
}

/* color buttons in color bar */
#scriptify-button-list li {
  display: inline-block;
  margin: 5px 0;
}

#scriptify-button-rotate {
  background-image: linear-gradient(
    to right,
    rgba(255, 201, 222),
    rgba(253, 217, 124),
    rgba(251, 253, 170),
    rgba(193, 240, 178),
    rgba(178, 228, 240),
    rgba(214, 178, 240)
  );
  background-size: 100% 150%;
  color: black;
}

#scriptify-button-list button {
  margin: 2px;
  box-shadow: inset 0 -2px 4px #232323, inset 0 2px 7px #555;
}

/* button activity */
#scriptify-button-list button.active-button,
#scriptify-button-list button.active-button:hover {
  display: inline-block;
  border: 2px solid #cccccc;
  outline: 2px solid #444444;
}

#scriptify-button-list button:focus {
  border: 1px dotted white;
  outline: 1px dotted black;
}

#scriptify-button-list button:hover {
  border: 1px solid white;
  outline: 1px solid black;
}
