/* Make the button not look like a button */
.script-quote-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    vertical-align: baseline;
    border-radius: 0;
    display: inline-flex;
}

/* Underline on hover */
.script-quote-button:hover.script-quote-active-button {
    border-bottom: 1px solid;
}

.script-quote-button:focus {
    outline: 1px dotted;
}
span.script-quote {
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: none;
    vertical-align: baseline;
    border-radius: 0;
}

/* Underline on hover */
span.script-quote:hover.active-quote {
    border-bottom: 1px solid;
}

span.script-quote:focus.active-quote {
    outline: 1px dotted;
}